.viewCart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 15px 0 0 0;
    font-weight: bold;
}


.header__cart{
    width: 150px;
    text-align: center;
}

hr{
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
}

.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.25rem 0 rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
    .info{
        .infoCart{
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            cursor: pointer;
        }
        .infoCart:hover{
            background-color: #f8f8f8;
        }
    }
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.1rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.header__cart-item-name{
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}
.header__cart-item-price-wrap{
    display: flex;
    align-items: center;
    justify-content: end;

    .header__cart-item-price{
        font-size: 1rem;
        font-weight: 400;
        color: var(--primary-color);
        padding: 0px;
        margin: 0px;
    }
    
    .header__cart-item-multiply{
        font-size: 0.9rem;
        margin: 0 4px;
        color: #757575;
    }
    
    .header__cart-item-qnt{
        color: #757575;
        font-size: 1.2rem;
    }
}


.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove{
    font-size: 0.875em;
    font-weight: 400;
    margin-top: 0.5rem !important;
    float: right;
}

.header__cart-item-remove:hover{
    color: var(--primary-color);

}
.header__cart-list{
    h6{
        margin-top: 10px;
        margin-left: 10px;
    }
    
    a{
        display: flex;
        font-size: small;
        margin: 13px 12px 11px 12px;
        justify-content: center;
        align-items: center;
    }
    .button-ViewCart{
        display: flex;
        font-size: small;
        margin: 13px 12px 11px 12px;
        justify-content: center;
        align-items: center;
    }

    .header__cart-no-cart-img{
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 25%;

    }
    
    .header__cart-list-no-cart-msg{
        display: block;
        font-size: 1.4rem;
        margin-top: 14px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: var(--text-color);
    }
}
.header__cart-list:after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;
    
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.header__cart-notice{
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-view-cart{
    float:right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
    background-color: #f05d41;
}